DANGER_ARENA_TOKEN=XXXXXXX
SITE_CHANNEL_ID=unique-slug-or-id-number
IS_VERCEL=false

# Optional variable used for site clock.
# See your offset here: https://www.timeanddate.com/time/zone/mexico/mexico-city
UTC_OFFSET=-6