<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>{{{local_title}}} - {{{site_title}}}</title>
	<meta name="description" content="{{{local_sanatized_description}}}">
    <meta name="author" content="{{{local_author}}}">
    <meta name="robots" content="index, follow">

	<link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
	<header>
		<a href="{{{site_author_url}}}" class="site-title">{{{site_author}}}</a>
		<div class="site-header">
			<nav>
				{{{local_nav}}}
			</nav>
			<p id="clock">
				<span class="nowrap">TIMEZONE</span>
				<span class="nowrap">[GMT-6]</span>
			</p>
		</div>
	</header>
	<main class="template-page">
		<article>
			<header>
				<h1>{{{local_title}}}</h1>
				<p>Last updated: {{{local_updated_at}}}</p>
			</header>
			{{{local_img}}}
			{{{local_content}}}
			<footer>
            	<p>
            		— Connected by <a href="{{{local_author_url}}}">{{{local_author}}}</a>, {{{local_created_at}}}.
            	</p>
            </footer>
		</article>
	</main>
	<script>
		function log_mexico_city_time() {
		  setInterval(() => {
		    const utc_offset = -6; // Mexico City's UTC offset
		    const now = new Date();
		    const local_time = new Date(now.getTime() + utc_offset * 3600 * 1000);

		    let hours = local_time.getUTCHours();
		    let sleeping = (hours >= 19 || hours < 7) ? "it's late" : "my time";

		    hours = hours.toString().padStart(2, '0');
		    const minutes = local_time.getUTCMinutes().toString().padStart(2, '0');
		    const seconds = local_time.getUTCSeconds().toString().padStart(2, '0');

		    const el = document.getElementById('clock');
		    el.firstElementChild.innerText = `${sleeping}`;
		    el.lastElementChild.innerText = `${hours}:${minutes}:${seconds}`;
		  }, 1000);
		}

		log_mexico_city_time();
	</script>
</body>
</html>